<a href="/ideas">Ideas dashboard</a>
<h1><%= @user.name %></h1>
<h1><%= @user.alias %></h1>
<h1><%= @user.email %></h1>

<hr>


<p>Total number of people who like my post: <%= @ideas.likes.count %></p>